%h1 Authentication failed

%p We were unable to authenticate you using OAuth2 protocol

- if @error.present?
  %p= simple_format(@error)

= content_tag :div, :id => "auth-token", :data => {:auth => nil, :error => @error}, :style => "display: none;" do 
  // nothing

