%h1 Authenticated successfully

= content_tag :div, :id => "auth-token", :data => {:auth => @auth}, :style => "display: none;" do 
  // This block contains auth data

%p Now close this window to return to your application
