// Place all the styles related to the fancy_oauth2 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fancy-oauth2 {

  .auth-link {
    display: inline-block;
    background-color: #722;
    border-radius: 5px;
    padding: 10px;
    font-weight: white;
    color: white;
  }

  .auth-link.success {
    background-color: #272;
  }

}
