<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>OAuth2 results page</title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %>
    </head>
    <body>
        <div id="fancy-oauth2-callback-window-content">
            <%= yield %>
        </div>
    </body>
</html>

