<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>OAuth2 results page</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/assets/fancy_oauth2.css">
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/assets/fancy_oauth2.js"></script>
  </head>
  <body>
    <div id="fancy-oauth2-callback-window-content">
      <%= yield %>
    </div>
  </body>
</html>

